.box {
    display: block;
    width: 260px;
    border: 1px solid black;
    background-color: rgb(91, 198, 227);
    padding: 12px;
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
    flex: 0 0 260px;
}

.box:hover {
    outline: 2px solid rgb(10, 9, 9);
    outline-offset: 3px;
}

img {
    width: 120px;
    height: 120px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    margin-top: 20px;
}
header {
    background-color: rgb(57, 59, 59);
    
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    color:black;
}
